
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="main_sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
      <div class="pull-left info">
          <p th:text="${session.name}"></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>        -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header"><font color="#f0f8ff">接口监控导航栏</font></li>

      <!-- 统计 -->
      <li>
        <a href="../index.html">
          <i class="fa fa-dashboard"></i> <span>统计</span>
        </a>
      </li>

      <!-- 接口列表 -->
      <li>
        <a href="/apilist">
          <i class="fa fa-th"></i> <span>接口列表</span>
        </a>
      </li>

      <!-- 监控计划 -->
      <li>
        <a href="/planlist">
          <i class="fa fa-calendar"></i>
          <span>监控计划</span>
        </a>
      </li>


      <li>
        <a href="/SystemVar">
          <i class="fa fa-laptop"></i>
          <span>我的变量</span>
        </a>
      </li>


      <li th:class="${logclass!=null?logclass:'treeview'}">
        <a href="#">
          <i class="fa fa-table"></i> <span>日志查看</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li th:class="${logclass2!=null?logclass2:''}"><a href="/loglist"><i class="fa fa-circle-o"></i>日志列表</a></li>
          <li th:class="${errorlogclass!=null?errorlogclass:''}"><a href="/errorlist"><i class="fa fa-circle-o"></i> 错误日志</a></li>

        </ul>
      </li>

      <li><a href="/Uploadpage"><i class="fa fa-book"></i> <span>导入文件数据</span></a></li>


      <li  th:class="${class1!=null?class1:'treeview'}">
      <a href="#">
      <i class="fa fa-files-o"></i>
      <span>crs接口比对</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
      <li th:class="${class2!=null?class2:''}"><a href="/crsapilist"><i class="fa fa-circle-o"></i> crs接口列表</a></li>
      <li th:class="${crsmonitorclass2!=null?crsmonitorclass2:''}"><a href="/monitorList"><i class="fa fa-circle-o"></i>crs监控配置</a></li>
      <li th:class="${crslogclass!=null?crslogclass:''}"><a href="/crslog"><i class="fa fa-circle-o"></i>日志列表</a></li>
      </ul>
      </li>

      <!--<li class="treeview">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-laptop"></i>-->
          <!--<span>UI Elements</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a href="../pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>-->
          <!--<li><a href="../pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>-->
          <!--<li><a href="../pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>-->
          <!--<li><a href="../pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>-->
          <!--<li><a href="../pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>-->
          <!--<li><a href="../pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li class="treeview">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-edit"></i> <span>Forms</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a href="../pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>-->
          <!--<li><a href="../pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>-->
          <!--<li><a href="../pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>-->
        <!--</ul>-->
      <!--</li>-->

        <li>
            <a href="#" onclick="window.open('https://shimo.im/docs/kydxCJqq6t99XyTT')">
                <i class="fa fa-laptop"></i>
                <span>使用说明</span>
            </a>
        </li>

        <!--第二部分 -->
        <li class="header"><font color="#f0f8ff">Ui Automator</font></li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    </ul>
  </section>

</aside>

</div>
</body>
</html>
