<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="common/common_head :: common_resource"></div>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="common/main_header :: main_header"></div>

    <div th:fragment="main_sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <aside class="main-sidebar">
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p> hello， 任杰 </p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form
                <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                        </span>
                  </div>
                </form>        -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">接口监控导航栏</li>

                    <!-- 统计 -->
                    <li>
                        <a href="../index.html">
                            <i class="fa fa-dashboard"></i> <span>统计</span>
                        </a>
                    </li>

                    <!-- 接口列表 -->
                    <li>
                        <a href="/apilist">
                            <i class="fa fa-th"></i> <span>接口列表</span>
                        </a>
                    </li>

                    <!-- 监控计划 -->

                    <!--<li class="treeview">-->
                    <li>
                        <a href="/planlist">
                            <i class="fa fa-calendar"></i>
                            <span>监控计划</span>
                            <!--<span class="pull-right-container">-->
                            <!--<i class="fa fa-angle-left pull-right"></i>-->
                            <!--</span>-->
                        </a>
                        <!--<ul class="treeview-menu" style="display: none;">-->
                        <!--<li><a href="../pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>-->
                        <!--<li><a href="../pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>-->
                        <!--<li><a href="../pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>-->
                        <!--<li><a href="../pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>-->
                        <!--</ul>-->
                    </li>


                    <li>
                        <a href="/SystemVar">
                            <i class="fa fa-laptop"></i>
                            <span>系统变量</span>
                        </a>
                    </li>


                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>日志查看</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu" >
                            <li ><a href="/loglist"><i class="fa fa-circle-o"></i>日志列表</a></li>
                            <li class="active"><a href="/errorlist"><i class="fa fa-circle-o"></i> 错误日志</a></li>
                        </ul>
                    </li>

                    <li><a href="../Upload.html"><i class="fa fa-book"></i> <span>导入文件数据</span></a></li>




                    <!--第二部分 -->
                    <li class="header">Ui Automator</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->

        </aside>

    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                错误日志列表
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">List</a></li>
                <li class="active">Error Log Data</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!--表格内容数据 -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header   -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>接口名称</th>
                                    <th>路径</th>
                                    <th>方法</th>
                                    <th>返回码</th>
                                    <th>断言</th>
                                    <th>响应时长ms</th>

                                    <th>返回大小Bytes</th>
                                    <th>开始时间</th>


                                </tr>
                                </thead>

                                <!--  tbody 真实的接口数据 SELECT api_name, url, method, assert_result , elapsed_time,res_code,res_size, start_time from error_log-->
                                <tbody>
                                <tr  th:each=" log:${list}" th:onclick="'edit('+${log[8]}+')'">
                                    <th th:text="${log[0]}" ></th>
                                    <td th:text="${log[1]}"></td>
                                    <td th:text="${log[2]}"></td>
                                    <td th:text="${log[5]}"></td>
                                    <td th:text="${log[3]}"></td>
                                    <td th:text="${log[4]}"></td>
                                    <td th:text="${log[6]}"></td>
                                    <td th:text="${log[7]}"></td>
                                </tr>
                                </tbody>

                                <!--  tbody 真实的接口数据  end-->
                                <tfoot>
                                <tr>
                                    <th>接口名称</th>
                                    <th>路径</th>
                                    <th>方法</th>
                                    <th>返回码</th>
                                    <th>断言</th>
                                    <th>响应时长</th>
                                    <th>返回大小</th>
                                    <th>开始时间</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/common_footer :: common_footer"></div>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../static/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/dist/js/demo.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({
            'autoWidth': true,
            "scrollX": true,
            "scrollY": true
        });

    });

    function  edit(errorlog_id){

        location.href="/errorlogDetail?id="+errorlog_id;
    }
</script>
</body>
</html>
