<!DOCTYPE html>
<html>
<head>
    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>
</body>
</html>
<script type="text/javascript">
    $(function () {
        if (!window.localStorage) {
            alert("浏览器不支持localstorage");
        } else {

            window.location.href = "http://backstage-test.yc345.tv:8081/#/?fromWebUrl=http%3A%2F%2Flocalhost%3A8080%2Fstatics?login=false";

        }
    });
</script>

