<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="common/common_head :: common_resource"></div>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="common/main_header :: main_header"></div>

    <div th:replace="common/main_sidebar :: main_sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                监控计划列表
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!--表格内容数据 -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <button type="button" class="btn btn-primary btn-sm btn-flat" id="newplan">新建计划</button>
                        </div>
                        <!-- /.box-header   -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>计划名称</th>
                                    <th>执行时间间隔</th>
                                    <!--<th>钉钉</th>-->
                                    <th>创建人</th>
                                    <th>备注</th>

                                    <th>状态</th>
                                    <th>操作</th>

                                </tr>
                                </thead>

                                <!--  tbody 真实的接口数据 -->
                                <tbody>
                                <tr  th:each=" myplans:${planlist}" >
                                    <th th:text="${myplans[0]}">id</th>
                                    <td href="details.html" th:text="${myplans[1]}">计划名称</td>
                                    <td th:text="${myplans[2]}">执行间隔</td>
                                    <!--<td th:text="${myplans[3]}">/ding</td>-->
                                    <td th:text="${myplans[4]}">创建人</td>
                                    <td th:text="${myplans[5]}">备注</td>
                                    <td th:text="${myplans[6]}==true?'进行中':'已停止'">状态</td>
                                    <td><a th:href="@{/planedit(id=${myplans[0]})}">edit</a> &nbsp;&nbsp;
                                        <a th:href="@{/planApiSort(id=${myplans[0]})}">sort</a>&nbsp;&nbsp;
                                        <!--<a th:href="@{/plandelete(id=${myplans[0]})}">delete</a>-->
                                        <a href="#" th:onclick="|delplan(${myplans[0]})|">delete</a>
                                    </td>


                                </tr>
                                </tbody>

                                <!--  tbody 真实的接口数据  end-->
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/common_footer :: common_footer"></div>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../static/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/dist/js/demo.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({

        });


    });

    $('#newplan').click(function () {
        location.href = "/newPlan1";
    });

    function delplan(id) {
        if (confirm("确定要删除该计划吗？")) {
            if (confirm("删除后不可恢复"))
            location.href = "/plandelete?id=" + id;
        }


    }
</script>
</body>
</html>
